<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SportData</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <i class="bi bi-clipboard2-check-fill"></i> SportData</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/">Home</a>
              <a class="nav-link active" aria-current="page" href="/atleti">Atleti</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Staff
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/allenatori">Allenatori</a></li>
                  <li><a class="dropdown-item" href="/accompagnatori">Accompagantori</a></li>
                  <li><a class="dropdown-item" href="/volontari">Volontari</a></li>
                </ul>
              </li>
              <a class="nav-link" href="/sponsor">Sponsor</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Pagamenti
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/pagamenti_allenatori">Allenatori</a></li>
                  <li><a class="dropdown-item" href="/pagamenti_atleti">Atleti</a></li>
                  <li><a class="dropdown-item" href="/pagamenti_sponsor">Sponsor</a></li>
                </ul>
              </li>
              <a class="nav-link" href="/medico">Medico</a>
              <a class="nav-link" href="/eventi">Eventi</a>
              <a class="nav-link" href="/contratti">Contratti</a>
            </div>
          </div>
        </div>
    </nav>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/atleti">
          <i class="bi bi-view-list"></i> Generale</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/certificati">
          <i class="bi bi-clipboard2-pulse-fill"></i> Certificati</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/test">
          <i class="bi bi-fast-forward-circle"></i> Test Fisici</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aggiungi">
          <i class="bi bi-plus-circle"></i> Aggiungi</a>
      </li>
    </ul>
    <table class="table table-striped m-auto">
      <thead>
        <tr>
          <th scope="col">#cartellino</th>
          <th scope="col">Nome</th>
          <th scope="col">Cognome</th>
          <th scope="col">Telefono</th>
          <th scope="col">E-mail</th>
          <th scope="col">Indirizzo</th>
          <th scope="col">Categoria</th>
          <th scope="col">Altezza</th>
          <th scope="col">Peso</th>
          <th scope="col">Ruolo</th>
          <th scope="col">Allenamenti</th>
          <th scope="col">Infortunato</th>
        </tr>
      </thead>
      <tbody>
        {%for atleta in atleti%}
        <tr>
          <td>{{atleta.id_no}}</td>
          <td>{{atleta.name}}</td>
          <td>{{atleta.surname}}</td>
          <td>{{atleta.telephone_no}}</td>
          <td>{{atleta.email}}</td>
          <td>{{atleta.adress}}</td>
          <td>{{atleta.category}}</td>
          <td>{{atleta.height}}</td>
          <td>{{atleta.weight}}</td>
          <td>{{atleta.position}}</td>
          <td>{{atleta.pres}}</td>
          <td>{%if atleta.injured==0%}
            <form action="{{ atleta.id_no }}/apriInf" method="POST">
              <button type="submit" class="btn btn-success">Apri infortunio</button>
            </form>
            {%else%}
            Infortunato
            {%endif%}
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>